.navbar {background-color: rgb(68, 67, 67);}
#green {color: #25a342;}
#white {color: white;}
#gray {color: gray;}


h4 {text-align: center;}
h5 {text-align: end;}
h6 {text-align: center;}

#pcarousel {text-align: end;}


#react {padding-top: 0px; padding-bottom: 0.5px; padding-left: 1px; padding-right: 3px; color: white; font-weight: 500; font-size: smaller;}
#java {padding-top: 0px; padding-bottom: 0.5px; padding-left: 1px; padding-right: 3px; font-weight: 500; font-size: smaller;}

#card-img-top{padding: 0px;}


#columna2 {background-color: rgb(66, 66, 66); color: white; border: 2px white;}



.carousel-item {opacity: .8; background-size: cover; background-position: center;}

#carusel { margin-left: 750px}

#padding {padding-left: 10%; padding-right: 10%;}

#lugar {background-color: rgb(54, 54, 54); color: white;}

#footer {padding: 20px;padding-left: 10%; padding-right: 10%; background-color: rgb(18, 73, 95); color: white; font-size: 12px;}